@{
    ViewData["Title"] = "Home Page";
}


  <div class="container">
        <div class="row mt-5">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center">Introducing Contentity: Your Ultimate CMS Solution</h1>
                <p class="lead text-center">Contentity is a robust content management system designed to streamline your website management with intuitive features and seamless integration.</p>
                <p class="lead text-center">With Contentity, you can effortlessly create, organize, and publish content, empowering your team to deliver engaging digital experiences effortlessly.</p>
            </div>
        </div>
    </div>