@model LucrareDisertatie.Models.ViewModels.SaveTagRequest


<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" id="name" asp-for="Name" />
        </div>

        <div class="mb-3">
            <label class="form-label">Displayed Name</label>
            <input type="text" class="form-control" id="displayedName" asp-for="DisplayedName"/>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>

    </form>
</div>